<p>
  edit-task works!
</p>
<!-- changed all SelectedTask s to childSelectedTask -->
<div *ngIf="childSelectedTask">
  <h3>{{childSelectedTask.description}}</h3>
  <p>Task Complete? {{childSelectedTask.done}}</p>
  <h3>Edit Task</h3>
    <label>Enter Task Description:</label>
    <input [(ngModel)]="childSelectedTask.description">
    <label>Enter Task Priority (1-3):</label>
    <br>
    <input type="radio" [(ngModel)]="childSelectedTask.priority" [value]="1">1 (Low Priority)<br>
    <input type="radio" [(ngModel)]="childSelectedTask.priority" [value]="2">2 (Medium Priority)<br>
    <input type="radio" [(ngModel)]="childSelectedTask.priority" [value]="3">3 (High Priority)
  <button (click)="finishedEditing()">Done</button>
</div>
